@media (max-width: 767px) {
  .header-top {
    display: none;
  }
  .header-bottom {
    padding: 16px 0;
    margin: 0;
  }
  .container {
    width: 100%;
    padding: 0 16px;
  }
  .phone_burger__menu {
    display: block !important;
  }
  .header-bottom__nav.active-burger {
    top: 64px;
    padding: 24px 16px;
  }
  .rgwregw{
    font-size: 14px;
  }
  .header-bottom__burger {
    width: 18px;
    height: 2px;
  }
  .header-bottom__burger::before {
    width: 18px;
    height: 2px;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
  }
  .header-bottom__burger::after {
    width: 18px;
    height: 2.8px;
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
  }
  .header-bottom__search__mobile {
    width: 24px;
    height: 24px;
  }
  .header-bottom__searc-svg {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  .header-bottom__logo img {
    height: 32px;
  }
  .header__adaptiv__top-1 {
    display: none;
  }
  .header__adaptiv__top-2 {
    margin-top: 0;
  }
  .adaptiv__top-2 {
    gap: 4px;
  }
  .header__adaptiv__top-2 img {
    height: 32px;
  }
  .header__adaptiv__top-2 svg {
    transform: scale(0.8);
  }
  .footer__nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    grid-column-gap: 0px;
  }
  .footer__nav ul li {
    margin: 10px 0;
  }
  .footer__nav li a {
    padding: 0;
  }
  .footer__item {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .footer__bottom {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .regions-logos {
    margin: 0 9px;
  }
  .regions-logos__min {
    height: 48px;
  }
  .regions-logos__sngs {
    height: 25px;
  }
  .right-content-title {
    font-size: 28px;
  }
  .regions-subsidia-p {
    line-height: 29px;
  }
  .regions-subsidia svg use {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
  .regions-subsidia-flex {
    display: grid;
    grid-template-columns: 40px 1fr;
  }
  .regions-subsidia-bottom {
    margin-bottom: 0;
  }
  .right-content__news__cart {
    grid-template-columns: 1fr;
  }
  .right-content__news__cart img {
    width: 100%;
    height: 100%;
  }
  .content__news__cart__info {
    margin-top: 20px;
    row-gap: 20px;
    display: grid;
    height: auto;
  }
  .viev-more h5 {
    font-size: 20px;
  }
  .viev-more__flex {
    display: grid;
    row-gap: 20px;
  }
  .viev-more__item {
    width: 100%;
    height: 111px;
  }
  .products__btns {
    display: inline-flex;
    row-gap: 30px;
    flex-wrap: wrap;
  }
  .button {
    display: inline-flex;
  }
  .products__grid-2 {
    grid-template-columns: 1fr;
  }
  .reductors__grid {
    margin: 0 -16px;
    padding: 0 16px;
  }
  .petrol__flex {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: left;
  }
  .petrol__price__card {
    min-width: 120px;
    width: 120px;
  }
  .right-content-title-20 {
    line-height: 35px;
  }
  .service__map__name {
    grid-template-columns: 1fr;
  }
  .service__map__info {
    padding: 20px 20px;
  }
  .service__map-title {
    margin-bottom: 30px;
  }
  .service__map__info::-webkit-scrollbar {
    width: 4px;
  }
  .gbo__grid {
    grid-template-columns: 1fr;
  }
  .right-content-title-28 {
    font-size: 24px;
  }
  .calculate__top {
    grid-template-columns: 1fr;
    gap: 33px;
  }
  .calculate-type {
    width: 100%;
  }
  .calculate__top__column__adaptiv {
    gap: 8px;
  }
  .calculate__mid {
    grid-template-columns: 1fr 1fr;
    row-gap: 33px;
    column-gap: 8px;
  }
  .calculate__bottom {
    grid-template-columns: 1fr;
    row-gap: 60px;
  }
  .gbo__price {
    margin: 0 -16px;
    padding: 0 16px;
  }
  .calculate__top__column span {
    font-size: 14px;
  }
  .calculate {
    padding: 30px 20px;
  }
  .hystmodal__wrap {
    padding: 0 16px;
  }
  .modal {
    padding: 42px 16px;
  }
  .modal__install-gbo-pre-title {
    line-height: 28px;
  }
  .right-content-title-28 {
    font-size: 20px;
  }
  .form-calculate-gbo-form {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
  .form-calculate-gbo {
    margin-bottom: 0;
  }
  .form-calculate-gbo__item span {
    margin-bottom: 12px;
  }
  .gbo__price-span {
    margin-bottom: 0;
  }
  .gbo__application form {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
  .viev-more__cart-title {
    font-size: 16px;
  }
  .viev-more__cart-btn {
    font-size: 14px;
  }
  .fuel__grid {
    grid-template-columns: 1fr;
  }
  .card__grid {
    display: block;
  }
  .card__left-title {
    height: auto;
    margin-right: 0;
    text-align: center;
    margin-bottom: 18px;
  }
  .card__grid {
    padding: 40px 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .card__left-p {
    text-align: center;
  }
  .card__left-btn {
    display: none;
  }
  .card__left-btn__adaptiv {
    padding: 16.5px 32px;
    background-color: var(--white);
    color: var(--blue);
    border-radius: 50px;
    line-height: 11px;
    display: inline-block;
    margin: 0 auto;
  }
  .card__right {
    margin-bottom: 26px;
  }
  .ergergwrgw {
    display: none;
  }
  .how-to-get-card {
    display: grid;
    row-gap: 50px;
  }
  .how-to-get-card__item.docs use {
    transform: scale(0.63);
    -webkit-transform: scale(0.63);
    -moz-transform: scale(0.63);
    -ms-transform: scale(0.63);
    -o-transform: scale(0.63);
  }
  .how-to-get-card__item.how-to-card use {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
  .how-to-get-card__item {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
  .how-to-get-card__item span {
    line-height: 29px;
  }
  .inovasii__grid {
    grid-template-columns: 1fr;
  }
  .fuel__lk__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 20px;
  }
  .fuel__lk__card {
    width: 100%;
  }
  .block__aic__right img {
    padding: 0;
  }
  .block__aic {
    padding: 0;
  }
  .lh14 {
    height: auto;
  }
  .cg-30 {
    margin-bottom: 0 !important;
  }
  .phone__app img {
    width: 250px;
    right: -35px;
  }
  .phone__app {
    padding: 46px 20px;
    height: 481px;
    overflow: hidden;
  }
  .virtualnaya__grid {
    grid-template-columns: 1fr;
  }
  .virtualnaya__right {
    display: none;
  }
  .ado__flex {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .ado__flex__top-arrow {
    display: none;
  }
  .right-content-title-24 {
    font-size: 20px;
  }
  .zakluchenie__grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .zaplint__dogovor {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .gbo__application-input.email {
    width: 87%;
  }
  .dogovor-info {
    right: 0;
  }
  .voskr-znak__item {
    right: 21px;
    top: 74px;
  }
  .voskr-znak__item::after {
    transform: translateX(299px) translateY(-9px) rotate(90deg);
    -webkit-transform: translateX(299px) translateY(-9px) rotate(90deg);
    -moz-transform: translateX(299px) translateY(-9px) rotate(90deg);
    -ms-transform: translateX(299px) translateY(-9px) rotate(90deg);
    -o-transform: translateX(299px) translateY(-9px) rotate(90deg);
  }
  .dogovor__p {
    width: 324px;
  }
  .opacity0 {
    display: none;
  }
  .zaplint__dogovor__grid {
    grid-template-columns: 1fr;
  }
  .zaplint__dogovor__checkbox {
    display: grid;
    grid-template-columns: 46px 1fr;
  }
  .zaplint__dogovor__checkbox a {
    color: var(--blue);
  }
  .header-bottom__burger__div {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-bottom__burger__close {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  .header-bottom__burger__close svg {
    transform: translateX(-2px) scale(0.9);
    -webkit-transform: translateX(-2px) scale(0.9);
    -moz-transform: translateX(-2px) scale(0.9);
    -ms-transform: translateX(-2px) scale(0.9);
    -o-transform: translateX(-2px) scale(0.9);
  }
  .success__form__midal span {
    font-size: 24px;
  }
  .zaplint__dogovor__togle {
    width: 100%;
  }
}