@import url("libs/hystmodal.min.css");
@import url("libs/choices.min.css");
:root {
  --dark-gray: #404040;
  --white: #fff;
  --blue: #0078d2;
  --black: #232323;
  --light-blue: #eaf5ff;
  --light-gray: #d9d9d9;
  --gray: #b8b8b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}

body {
  font-family: "Roboto";
  color: var(--black);
}

input,
button,
textarea {
  font-family: "Roboto";
}

.header-top {
  padding: 10px 0 34px;
}

.container {
  max-width: 1370px;
  padding: 0 70px;
  margin: 0 auto;
}

.header-top__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top__item div {
  display: flex;
}

.theme-mode {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
}

.header-top-icon-a {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.header-top-icon-a-svg {
  margin-right: 8px;
}

.header-bottom {
  padding: 5.5px 0 13.5px;
}

.header-bottom__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom__nav {
  display: flex;
  align-items: center;
}

.header-bottom__nav ul {
  display: flex;
  grid-column-gap: 20px;
}

.header-bottom__nav ul li {
  list-style-type: none;
}

.header-bottom__nav ul li a {
  line-height: 29px;
  font-size: 16px;
  padding: 10px 16px 20px;
  color: var(--black);
}

.header-bottom__nav ul li a.active {
  border-bottom: 2px solid var(--blue);
  color: var(--blue);
}

.header-bottom__search {
  height: 31px;
  padding: 3px 0px 4px 36px;
}

.header-search {
  background: #000;
  padding: 129px 0;
  display: none;
}

.header-search__item form {
  display: flex;
  align-items: center;
}

.header-search-btn {
  background: none;
  outline: none;
  border: none;
}

.header-search-input-text {
  width: 100%;
  height: 63px;
  font-size: 42px;
  outline: none;
  border: none;
  background: none;
  color: var(--white);
  padding: 0 20px;
  border-bottom: 2px solid var(--blue);
}

.header-search.active {
  display: block;
}

.footer {
  background: var(--blue);
  padding: 32px 0;
  color: var(--white);
}

.footer a {
  color: var(--white);
}

.footer__logo {
  margin-bottom: 58px;
}

.footer__nav ul {
  display: flex;
  grid-column-gap: 25px;
  transform: translateX(-16px);
  margin-bottom: 59px;
}

.footer__nav li {
  list-style-type: none;
}

.footer__nav li a {
  padding: 10px 16px;
  font-size: 16px;
  line-height: 29px;
}

.footer__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
}

.footer-title {
  margin-bottom: 20px;
}

.footer-btns {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 12px;
}

.footer-btns svg {
  margin-right: 12px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: var(--light-gray);
}

.footer__bottom a {
  display: flex;
  align-items: center;
  color: var(--light-gray);
}

.footer__bottom a svg {
  margin-left: 7px;
}

.the-main-content {
  margin: 50px 0 100px;
}

.the-main-content__item {
  display: grid;
  grid-template-columns: 370px 1fr;
  grid-column-gap: 24px;
}

.left-menu-content__nav {
  display: grid;
  gap: 20px;
}

.left-menu-main-link {
  list-style-type: none;
  padding: 10px 0;
}

.left-menu-main-link a {
  color: var(--black);
  display: flex;
  align-items: center;
}

.left-menu-main-link-svg {
  margin: 0 20px;
}

.left-menu-main-link-svg.active {
  transform: rotate(180deg);
}

.left-menu-main-link__ul {
  margin: 30px 0 0;
  display: none;
  gap: 20px;
}

.left-menu-main-link__ul.active {
  display: grid;
}

.left-menu-main-link__ul li {
  list-style-type: none;
}

.left-menu-main-link__ul li a {
  color: var(--black);
  line-height: 29px;
  padding: 5.5px 16px;
}

.left-menu-main-link__ul li a.active {
  color: var(--blue);
}

.right-content-main {
  row-gap: 50px;
  display: flex;
  flex-direction: column;
}

.right-content-title {
  color: var(--blue);
  font-weight: 400;
  font-size: 40px;
}

.right-content-title-28 {
  color: var(--black);
  font-size: 28px;
  font-weight: 400;
  line-height: 150%;
}

.regions-logos {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  align-items: center;
}

.regions-logos__min {
  height: 86px;
}

.regions-logos__sngs {
  height: 65px;
}

.right-content-pararaph {
  line-height: 29px;
  font-size: 16px;
  color: var(--black);
}

.right-content-document {
  cursor: pointer;
  color: var(--blue);
  display: flex;
  align-items: center;
}

.right-content-document svg {
  margin-right: 16px;
}

.left-menu-main-link-aa.active{
  color: var(--blue);
}

.right-content-title-20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  line-height: 14px;
}

.regions-subsidia-top,
.regions-subsidia-mid,
.regions-subsidia-bottom {
  display: flex;
}

.regions-subsidia-mid {
  margin-top: 34px;
  justify-content: flex-end;
}

.regions-subsidia-bottom {
  margin-top: 34px;
  margin-bottom: 32px;
}

.regions-subsidia-flex {
  display: flex;
  align-items: center;
  height: 100%;
}

.regions-subsidia h6 {
  text-align: center;
  margin: 30px 0 50px;
}

.regions-subsidia-p {
  margin-left: 30px;
}

.subs-right {
  transform: translateY(50px) translateX(40px);
}

.subs-left {
  transform: translateY(52px) translateX(-39px);
}

.right-content-p-light-blue {
  color: var(--black);
  padding: 30px 20px;
  background: var(--light-blue);
  border-radius: 10px;
}

.button {
  padding: 14px 32px;
  display: flex;
  align-items: center;
  border: 1px solid var(--blue);
  border-radius: 80px;
  line-height: 0px;
  color: var(--blue);
  height: 44px;
}

.button svg {
  margin-left: 10px;
  fill: var(--blue);
}

.right-content__news {
  display: flex;
  grid-row-gap: 24px;
  flex-direction: column;
}

.right-content__news__cart {
  display: grid;
  grid-template-columns: 310px 1fr;
  grid-column-gap: 20px;
  align-items: center;
}

.right-content__news__cart img {
  width: 100%;
  height: 206px;
  object-fit: cover;
  border-radius: 10px;
}

.news__cart__info-date {
  color: var(--gray);
  margin-bottom: 20px;
  font-size: 16px;
}

.news__cart__info-info {
  color: var(--black);
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 30px;
}

.news__cart__info-a {
  color: var(--blue);
  display: flex;
  align-items: center;
}

.news__cart__info-a svg {
  margin-left: 4px;
}

.viev-more {
  display: flex;
  grid-row-gap: 30px;
  flex-direction: column;
}

.viev-more__item {
  border-radius: 10px;
  background: var(--light-blue, #eaf5ff);
  width: 310px;
  height: 200px;
  padding: 30px 22px;
  position: relative;
  transition: all 0.3s;
}

.viev-more__item:hover {
  background: var(--blue);
  color: var(--white);
}

.viev-more__cart {
  position: absolute;
  bottom: 22px;
}

.viev-more__cart-title {
  font-size: 20px;
  line-height: 35px;
}

.viev-more__item:hover .viev-more__cart-btn {
  color: var(--white);
}

.viev-more__item:hover .viev-more__cart-btn svg {
  fill: var(--white);
}

.viev-more__cart-btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--dark-gray);
  transition: all 0.3s;
}

.viev-more__cart-btn svg {
  margin-left: 4px;
  fill: var(--dark-gray);
  transition: all 0.3s;
}

.viev-more__flex {
  display: flex;
  column-gap: 20px;
}

.products__btns {
  margin-top: 30px;
  display: flex;
  column-gap: 30px;
}

.button-pdf-icon {
  margin: 0 10px 0 0 !important;
}

.products__grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

.products__card {
  padding: 30px;
  border-radius: 15px;
  border: 1px solid var(--blue, #0078d2);
  display: flex;
  row-gap: 16px;
  flex-direction: column;
}

.products__card:hover .btn-card {
  opacity: 1;
}

.products__card-title {
  color: #232323;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

.products__card__info {
  display: flex;
}

.products__card__info-icon {
  margin-right: 8px;
  fill: #B8B8B8;
}

.products__card__info-text {
  line-height: 29px;
  margin-right: 16px;
}

.products__card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__card__price-div {
  display: flex;
  align-items: center;
}

.products__card-price {
  color: #0078d2;
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
}

.products__card-price-kurs {
  color: #0078d2;
  font-size: 28px;
  line-height: 28px;
  margin-left: 8px;
  margin-right: 16px;
  font-weight: 600;
}

.btn-card {
  font-size: 12px;
  color: var(--dark-gray);
  padding: 10px 20px;
  border-radius: 80px;
  border: 1px solid var(--gray, #b8b8b8);
  opacity: 0;
  transition: all 0.3s;
}

.btn-card:hover {
  background-color: var(--gray);
}

.right-content-title-32 {
  font-size: 32px;
  color: #404040;
  font-weight: 400;
}

.reductors__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.reductors__card {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--blue, #0078d2);
  position: relative;
  transition: all 0.3s;
}

.reductors__card:hover .reductors__card__overlay {
  opacity: 1;
}

.reductors-btn-card {
  position: absolute;
  font-size: 12px;
  color: var(--dark-gray);
  padding: 10px 20px;
  border-radius: 80px;
  border: 1px solid var(--gray, #b8b8b8);
  transition: all 0.3s;
  height: 0;
  display: block;
  transition: all 0.3s;
  background-color: var(--white);
  height: 34px;
}

.reductors-btn-card:hover {
  background-color: var(--gray);
}

.reductors__card__overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  margin: -30px -20px;
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reductors__card-img {
  width: 100%;
  height: 131px;
  object-fit: contain;
  margin: 0 auto;
}

.reductors__card-title {
  color: var(--blue);
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

.reductors__card-info {
  line-height: 29px;
}

.reductors__card__flex {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: var(--black);
}

.reductors__card__flex:nth-child(1) {
  margin-bottom: 12px;
}

.reductors__card__flex svg {
  margin-right: 8px;
}

.reductors__card__price {
  display: flex;
  align-items: center;
}

.reductors__card__price-price {
  font-size: 28px;
  color: var(--black);
  line-height: 28px;
}

.reductors__card__price-kurs {
  font-size: 28px;
  color: var(--black);
  line-height: 28px;
  margin-left: 8px;
  margin-right: 8px;
}

.metan__grid {
  display: grid;
  grid-template-columns: 1fr 120px;
  column-gap: 32px;
  margin-bottom: 30px;
}

.metan {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.right-content-title-24 {
  color: var(--black);
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
}

.doc-download {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--blue);
  line-height: 29px;
}

.doc-download svg {
  margin-right: 16px;
}

.metan__price-span {
  color: var(--black);
  font-size: 16px;
  display: block;
  text-align: center;
}

.metan__price-span:nth-child(1) {
  margin-bottom: 16px;
}

.metan__price-span:nth-child(2) {
  margin-bottom: 24px;
}

.metan__price__card {
  border: 1px solid var(--blue);
  border-radius: 5px;
  text-align: center;
}

.metan__price__card__top {
  color: var(--white);
  padding: 16px 0 15px;
  background-color: var(--blue);
  font-size: 16px;
  line-height: 29px;
}

.metan__price__card__bottom {
  font-family: "DS-Digital";
  font-size: 32px;
  font-weight: 400;
  line-height: 35px; /* 109.375% */
  padding: 13px 0 12px;
}

.cg-30 {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.flex {
  display: flex;
  align-items: center;
}

.petrol__flex {
  display: flex;
  justify-content: space-between;
}

.petrol__price__card {
  border: 1px solid var(--blue);
  border-radius: 5px;
  text-align: center;
  width: 120px;
}

.petrol__price__card__top {
  color: var(--white);
  padding: 16px 0 15px;
  background-color: var(--blue);
  font-size: 16px;
  line-height: 29px;
}

.petrol__price__card__bottom {
  font-family: "DS-Digital";
  font-size: 32px;
  font-weight: 400;
  line-height: 35px; /* 109.375% */
  padding: 13px 0 12px;
}

.products__card__modal {
  padding: 20px 30px 40px;
  background-color: var(--white);
  max-width: 860px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.products__card__modal-img {
  max-width: 800px;
  height: 100%;
  object-fit: contain;
}

.products__card__modal__icons {
  display: flex;
  margin-top: 16px;
}

.service__map {
  display: grid;
  grid-template-columns: 1fr 286px;
  height: 503px;
}

.service__map__info {
  padding: 40px 20px;
  background: var(--light-blue);
  overflow: overlay;
}

.service__map-title {
  display: block;
  margin-bottom: 50px;
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.service__map__name {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 20px;
}

.service__map-h6 {
  color: var(--blue);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-decoration-line: underline;
}

.service__map__name-p {
  line-height: 29px;
  color: var(--black);
}

.service__map__name-span {
  color: var(--black);
  line-height: 11px;
  font-weight: 600;
}

.service__map__info::-webkit-scrollbar {
  width: 4px;
  margin: 16px 10px;
}

.service__map__info {
  scrollbar-width: thin;
  scrollbar-color: var(--blue) rgba(0, 120, 210, 0.2);
}

.service__map__info::-webkit-scrollbar-track {
  margin: 16px 10px;
  background: rgba(0, 120, 210, 0.2);
}

.service__map__info::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

.gbo__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.gbo__card {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 30px 20px;
  background-color: var(--light-blue);
  border-radius: 5px;
}

.gbo__price {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.gbo__price__card {
  border-radius: 20px;
  background: var(--light-blue);
  padding: 40px 30px;
}

.gbo__price__card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.gbo__price__center {
  margin: 0 auto;
}

.gbo__price__card-span1 {
  color: var(--black);
  margin-right: 20px;
  font-size: 32px;
  height: 29px;
}

.gbo__price__card-span2 {
  color: var(--gray);
}

.gbo__price-ul {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.gbo__price-ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  line-height: 29px;
}

.gbo__price-ul li svg {
  margin-right: 12px;
}

.gbo__price-price {
  font-size: 24px;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: end;
  margin: 0 auto;
}

.button-gbo {
  padding: 9.6px 32px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid var(--blue);
  border-radius: 80px;
  color: var(--blue);
  transition: all 0.3s;
}

.button-gbo svg {
  fill: var(--blue);
  transition: all 0.3s;
}

.button-gbo:hover svg {
  fill: var(--white);
}

.button-gbo:hover {
  background-color: var(--blue);
  color: var(--white);
}

.button-gbo span {
  margin: 0 10px;
}

.calculate {
  padding: 60px;
  border-radius: 20px;
  background: var(--light-blue);
}

.calculate__top {
  display: flex;
  column-gap: 40px;
}

.calculate__top__column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.calculate__top__column__select {
  position: relative;
  display: flex;
}

.calculate-type {
  height: 44px;
  width: 300px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: 16px;
  color: var(--blue);
  padding: 0 24px;
  appearance: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden;
  background: var(--white);
}

.calculate-type:invalid {
  color: var(--gray);
}

.calculate-type-placeholder {
  color: var(--gray) !important;
}

.calculate-type option {
  color: var(--black);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 24px;
}

.calculate__top__column__select::after {
  margin-top: 3px;
  margin-left: -2.6em;
  display: flex;
  align-items: center;
  content: url("../img/chevron-down.svg");
  fill: var(--black);
}

.calculate__top__column__select.active::after {
  transform: rotate(180deg);
  margin-top: -3px;
}

.calculate__top-fake-input {
  color: var(--blue);
  border-radius: 10px;
  background: var(--white);
  height: 44px;
  width: 180px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  border: 0;
  outline: 0;
  font-size: 16px;
}

.calculate__top-fake-input::-webkit-outer-spin-button,
.calculate__top-fake-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.calculate__mid {
  display: flex;
  column-gap: 40px;
}

.calculate__top-fake-input-grey {
  color: var(--gray);
  border-radius: 10px;
  background: var(--white);
  height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.calculate__bottom {
  border-radius: 10px;
  background: linear-gradient(91deg, #3699E4 0%, #0078D2 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 30px 0;
}

.calculate__bottom div {
  color: var(--white);
  text-align: center;
}

.calculate__bottom div .flex {
  display: block;
  margin: 0 auto;
}

.calculate__bottom div .flex span {
  font-size: 24px;
}

.calculate__bottom div .flex span:first-child {
  margin-right: 4px;
}

.calculate__bottom-p {
  display: block;
  margin-bottom: 16px;
}

.calculate-button {
  color: var(--blue);
  font-size: 16px;
  padding: 12px 32px;
  border-radius: 80px;
  border: 1px solid var(--blue);
  background: var(--white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.modal {
  padding: 80px 60px;
  background: var(--white);
  border-radius: 10px;
}

.modal__install-gbo {
  display: flex;
  flex-direction: column;
}

.modal__install-gbo-pre-title {
  line-height: 14px;
  margin: 30px 0 50px;
  display: block;
  text-align: center;
  font-size: 20px;
}

.modal__install-gbotitle-32 {
  font-size: 32px;
  text-align: center;
  font-weight: 400;
}

.modal__install-gbo__input {
  margin-bottom: 40px;
  display: block;
}

.modal__install-gbo__input span {
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 24px;
  display: block;
}

.modal__install-gbo__input input {
  width: 100%;
  display: block;
  padding: 7.5px 24px;
  font-size: 16px;
  line-height: 29px;
  border-radius: 10px;
  background: var(--light-blue);
  outline: 0;
  border: 0;
}

.modal__install-gbo__select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 40px;
  border-radius: 20px;
  border: 1px solid var(--blue);
  padding: 8px 10px;
  text-align: center;
}

.install-gbo__select-a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.install-gbo__select-a span {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.modal__install-gbo__select .install-gbo__select-a input:checked + span {
  color: var(--white);
  background: var(--blue);
  width: 100%;
  display: block;
}

.label-toggle-checkbox {
  display: grid;
  grid-template-columns: 46px 1fr;
  column-gap: 12px;
  align-items: center;
  height: 48px;
  margin: 10px 0 50px;
}

.label-toggle-checkbox span a {
  color: var(--blue);
}

.toggle-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.toggle-switch {
  background-color: var(--dark-gray);
  width: 46px;
  height: 24px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.toggle-switch::before {
  content: "";
  font-weight: 900;
  background-color: white;
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 50%;
  top: 5px;
  left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue);
}

.toggle-checkbox:checked + .toggle-switch::before {
  content: "";
  left: 26px;
  color: var(--blue);
}

.button-modal {
  width: fit-content;
  color: var(--white);
  background: var(--blue);
  line-height: 11px;
  padding: 16.5px 32px;
  font-size: 16px;
  outline: 0;
  border: 0;
  border-radius: 80px;
  cursor: pointer;
}

.voskr-znak__relative {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.voskr-znak__item {
  line-height: 29px;
  padding: 20px 12px;
  border-radius: 8px;
  background: var(--light-gray);
  position: absolute;
  transform: translateX(24px) translateY(-48px);
  margin-left: 8px;
  display: none;
}

.voskr-znak__relative:hover .products__card__info-icon {
  fill: var(--blue);
}

.voskr-znak__relative:hover .voskr-znak__item {
  display: block;
}

.voskr-znak__item::after {
  content: "";
  display: block;
  border: 5px solid transparent;
  position: absolute;
  border-right: 5px solid var(--light-gray);
  left: 0;
  top: 0;
  transform: translateX(-9px) translateY(29px);
}

.form-calculate-gbo-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.form-calculate-gbo__item {
  display: block;
  width: 100%;
}

.form-calculate-gbo__item span {
  margin-bottom: 16px;
  display: block;
}

.form-calculate-gbo {
  margin-bottom: 30px;
}

.gbo__price-span {
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 30px;
}

.gbo__application form {
  display: grid;
  grid-template-columns: 300px 300px 1fr;
  gap: 18px;
  align-items: end;
}

.gbo__application-span {
  font-weight: 400;
  line-height: 29px;
  font-size: 16px;
  margin-bottom: 16px;
  display: block;
}

.gbo__application-input {
  width: 100%;
  padding: 7.5px 24px;
  background-color: var(--light-blue);
  border: 0;
  outline: 0;
  font-size: 16px;
  color: var(--blue);
  border-radius: 10px;
  line-height: 29px;
}

.gbo__application-input::-webkit-outer-spin-button, .gbo__application-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.gbo__application-input[type=date]::-webkit-inner-spin-button,
.gbo__application-input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.gbo__application-button {
  background-color: var(--white);
  border: 1px solid var(--blue);
  line-height: 0px;
  padding: 9px 0;
  display: flex;
  align-items: center;
  color: var(--blue);
  border-radius: 20px;
  width: 100%;
  justify-content: center;
}

.gbo__application-button svg {
  fill: var(--blue);
  margin-left: 10px;
  display: block;
}

.gbo__application-a {
  display: block;
  margin-top: 30px;
  font-size: 12px;
  margin-bottom: 27px;
}

.gbo__application-a a {
  font-size: 12px;
  color: var(--blue);
}

.fuel__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.fuel__card {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-blue);
  border-radius: 15px;
}

.fuel__card span {
  padding-left: 30px;
}

.card__grid {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-radius: 20px;
  background: linear-gradient(226deg, #8CF 10.23%, #0072CC 87.13%);
}

.card__left {
  position: relative;
}

.card__left-title {
  font-weight: 500;
  line-height: 150%;
  font-size: 28px;
  height: 62px;
  color: var(--white);
  display: block;
  margin-right: 35px;
  margin-bottom: 24px;
  margin-top: 4px;
}

.card__left-p {
  font-weight: 400;
  line-height: 29px;
  color: var(--white);
  display: block;
  margin-bottom: 26px;
}

.card__left-btn {
  padding: 16.5px 32px;
  background-color: var(--white);
  color: var(--blue);
  border-radius: 50px;
  line-height: 11px;
  display: inline-block;
}

.card__right {
  padding: 20px;
  background: linear-gradient(270deg, #0072CC 0%, #0082D3 99.82%);
  border-radius: 20px;
  position: relative;
  z-index: 50;
}

.card__right::after {
  background: url(../img/backcground-card.svg);
  background-size: cover;
  content: "";
  width: 239px;
  display: block;
  height: 80px;
  position: absolute;
  bottom: 0;
  z-index: 100;
}

.card__right__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 305px;
  margin-bottom: 31px;
}

.card__right__top img {
  width: 178px;
  display: block;
}

.card__right__top span {
  color: var(--white);
  font-size: 14px;
  line-height: 100%; /* 14px */
  background-color: #119B14;
  padding: 8px 10px;
  border-radius: 5px;
}

.card__right__mid {
  margin-bottom: 25px;
  display: block;
  color: var(--white);
  z-index: 200;
  position: relative;
}

.card__right__mid-balance {
  font-size: 36px;
  font-weight: 600;
  line-height: 100%;
  display: block;
  margin-top: 4px;
}

.card__right__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  z-index: 200;
  position: relative;
}

.card__right__bottom-virt {
  font-style: italic;
}

.card__right__bottom-nomer {
  font-style: italic;
  font-weight: 600;
}

.subs-ergergregerg {
  position: absolute;
}

.inovasii__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.inovasii__card {
  background-color: var(--light-blue);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: var(--light-blue);
  padding: 30px 30px 20px;
  position: relative;
  height: 150px;
}

.inovasii__card span {
  display: block;
  font-size: 20px;
  line-height: 35px;
}

.inovasii__card img {
  display: block;
  margin-left: auto;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.fuel__lk__grid {
  display: flex;
  justify-content: space-between;
}

.fuel__lk__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  width: 169px;
}

.fuel__lk__card span {
  display: block;
  text-align: center;
  line-height: 29px;
}

.block__aic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 30px 0;
  align-items: center;
}

.block__aic__right {
  width: 100%;
  display: block;
}

.block__aic__right img {
  width: 100%;
}

.block__aic__left p {
  line-height: 29px;
}

.block__aic__img-mac {
  width: 351px !important;
}

.block__aic__left li {
  margin-left: 24px;
  line-height: 29px;
}

.fz20 {
  font-size: 20px;
  line-height: 35px;
}

.lh14 {
  height: 14px;
}

.rgwregw {
  margin-left: 24px;
  font-size: 20px;
}

.rgwregw li {
  line-height: 35px;
}

.phone__app {
  position: relative;
  border-radius: 5px;
  background: linear-gradient(226deg, #1EA5F9 10.23%, #0072CC 87.13%);
  width: 100%;
  padding: 31px 50px;
  color: var(--white);
  height: 411px;
  margin-bottom: 30px;
}

.phone__app span {
  display: block;
  font-size: 28px;
  line-height: 150%;
  margin-bottom: 72px;
  max-width: 428px;
  font-weight: 400;
}

.phone__app a {
  display: block;
  margin-bottom: 20px;
}

.phone__app img {
  position: absolute;
  width: 430px;
  bottom: 0px;
  right: 50px;
}

.accordion {
  padding: 30px 30px;
  border-radius: 5px;
  background: var(--light-blue);
  position: relative;
}

.accordion summary {
  font-size: 20px;
  line-height: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.accordion summary::marker {
  content: "";
}

.accordion summary:before {
  content: url(../img/chevron-down.svg);
  position: absolute;
  right: 30px;
  transform: translateY(8px);
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
}

.accordion[open] summary:before {
  content: url(../img/chevron-down.svg);
  transform: rotate(180deg) translateY(6px);
  -webkit-transform: rotate(180deg) translateY(6px);
  -moz-transform: rotate(180deg) translateY(6px);
  -ms-transform: rotate(180deg) translateY(6px);
  -o-transform: rotate(180deg) translateY(6px);
  position: absolute;
  right: 30px;
}

.accordion__result {
  margin-top: 30px;
  display: block;
}

.accordion__result p {
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 30px;
}

.accordion__result__grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 30px;
  padding: 20px 0;
}

.accordion__result__grid__card {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.accordion__result__grid__card span {
  line-height: 29px;
  font-size: 16px;
}

.virtualnaya__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.virtualnaya__left {
  display: grid;
  gap: 20px;
}

.virtualnaya__card {
  padding: 30px;
  border-radius: 5px;
  background: var(--light-blue);
}

.virtualnaya__card span {
  font-size: 20px;
  line-height: 14px;
}

.virtualnaya__card p {
  font-size: 16px;
  line-height: 29px;
  margin-top: 30px;
}

.virtualnaya__right {
  display: flex;
  justify-content: center;
  position: relative;
}

.virtualnaya__right img {
  width: 267px;
  display: block;
  object-fit: contain;
  position: absolute;
  bottom: 0;
}

.ado__flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.ado__flex__top {
  display: flex;
  align-items: center;
  gap: 25px;
}

.ado__flex__bottom {
  margin-top: 30px;
  line-height: 29px;
}

.lh29 {
  line-height: 29px;
}

.zakluchenie__grid {
  display: grid;
  grid-template-columns: 267px 1fr;
  gap: 63px;
}

.zakluchenie__line {
  height: 1px;
  width: 100%;
  background-color: var(--light-gray);
  margin: 30px 0;
  display: block;
}

.zakluchenie__left span {
  font-weight: 600;
  line-height: 150%;
}

.zakluchenie__right {
  line-height: 29px;
  display: grid;
  gap: 30px;
}

.ytjryjrtjerg {
  display: block;
  margin-left: 24px;
  line-height: 29px;
}

.dogovor__card {
  padding: 40px;
  background-color: var(--light-blue);
  border-radius: 5px;
  line-height: 29px;
}

.dogovor__aferta {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.dogovor__aferta-svg use {
  width: 100%;
  height: 100%;
}

.dogovor__aferta-title {
  line-height: 11px;
  margin-bottom: 18px;
  display: block;
}

.dogovor__aferta-p {
  font-size: 12px;
}

.zaplint__dogovor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.zaplint__dogovor-title {
  line-height: 29px;
  margin-bottom: 24px;
  font-size: 16px;
  display: block;
  transform: translate();
  -webkit-transform: translate();
  -moz-transform: translate();
  -ms-transform: translate();
  -o-transform: translate();
}

.opacity0 {
  opacity: 0;
}

.dogovor-info {
  position: absolute;
  right: -48px;
  bottom: 8px;
  z-index: 100;
}

.relative {
  position: relative;
}

.dogovor__p {
  width: 368px;
  font-size: 14px;
  line-height: 130%;
}

.vnimatelno {
  padding: 30px 24px;
  border-radius: 15px;
  background: #FFEAB1;
  line-height: 29px;
  margin: 40px 0;
}

.sergergwg {
  font-size: 20px;
  line-height: 14px;
  margin: 50px 0;
  display: block;
}

.zaplint__dogovor__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.zaplint__dogovor__com {
  margin: 50px 0 24px;
  display: block;
}

.zaplint__dogovor__textarea {
  width: 100%;
  min-height: 200px;
  background-color: var(--light-blue);
  border-radius: 5px;
  outline: 0;
  padding: 16px 24px;
  border: 0;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 30px;
  resize: none;
}

.zaplint__dogovor__textarea::-webkit-scrollbar {
  width: 4px;
  margin: 16px 10px;
}

.zaplint__dogovor__textarea::-webkit-scrollbar-track {
  background: rgba(0, 120, 210, 0.2);
}

.zaplint__dogovor__textarea::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

.zaplint__dogovor__checkbox {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 40px;
}

.zaplint__dogovor__checkbox a{
  color: var(--blue);
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.error__aafwe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  width: 90px;
  height: 90px;
  border: 12px solid var(--light-blue);
  border-bottom-color: var(--blue);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.header-bottom__search__mobile {
  display: none;
}

.header-bottom__burger {
  display: none;
}

.header-top-lk {
  margin: 0;
}

.burger__menu {
  display: none;
}

.header-bottom__adptiv__right {
  display: none;
}

.phone_burger__menu {
  display: none;
}

.header__adaptiv {
  display: none;
}

.header-bottom__logo-a-blue {
  display: none;
}

.header-bottom__burger__close {
  display: none;
}

.calculate__top__column__select .choices__list.choices__list--single {
  background: var(--white);
}

.calculate__top__column__select .choices {
  width: 100%;
}

.calculate__top__column__select .choices__list--dropdown.choices__list[aria-expanded] {
  background-color: var(--white);
}

.calculate__top__column__adaptiv {
  display: flex;
  gap: 40px;
}

.card__left-btn__adaptiv {
  display: none;
}

.how-to-get-card {
  display: none;
}

.success__form__midal {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.success__form__midal__svg {
  border-radius: 40px;
  padding: 10px;
  border: 1px solid var(--Blue, #0078D2);
  margin: 0 auto;
  height: 60px;
  width: 60px;
}

.success__form__midal span {
  text-align: center;
  font-size: 28px;
  line-height: 150%;
}

.input-green {
  color: #119B14;
}

.zaplint__dogovor__togle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 0;
  border-radius: 20px;
  border: 1px solid var(--blue);
  padding: 8px 10px;
  text-align: center;
  width: 50%;
  margin-bottom: 20px;
}

.zaplint__dogovor__togle .install-gbo__select-a input:checked + span {
  color: var(--white);
  background: var(--blue);
  width: 100%;
  display: block;
}

.ip {
  display: none;
}

.yur-liso {
  display: block;
}

.none{
  display: none;
}
